<!DOCTYPE html>
<html lang="en">
    <%- include("_header.ejs") %> 
  <body>
    <div class="container-scroller">
        <%- include("_sidebar.ejs") %> 
        <div class="container-fluid page-body-wrapper">
        <%- include("_navbar.ejs") %> 
          <div class="content-wrapper">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ban And Unban User</h4>
                    <p class="card-description">ban user by numeric id so they can't post any comment.</p>
                    <form class="form-inline" method="post" action="/admin/user/ban">
                      <label class="sr-only" for="inlineFormInputName2">id</label>
                      <input type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="id" name="id">
                      <input type="submit" value="ban" name="banned" class="btn btn-danger mr-2">
                      <input type="submit" value="unban" name="banned" class="btn btn-primary mr-2">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <!-- content-wrapper ends -->
          <%- include("_footer.ejs") %> 
  </body>
</html>