<!DOCTYPE html>
<html lang="en">
    <%- include("_header.ejs") %> 
  <body>
    <div class="container-scroller">
        <%- include("_sidebar.ejs") %> 
        <div class="container-fluid page-body-wrapper">
        <%- include("_navbar.ejs") %> 
          <div class="content-wrapper">
            <h1>Hello World!</h1>
          </div>
          <!-- content-wrapper ends -->
          <%- include("_footer.ejs") %> 
  </body>
</html>